<%= link_to "Edit this event", edit_event_path(@event) if current_user && current_user.admin? %>

<div class="flex justify-between">
  <div>
    <h1 class="mb-8"><%= @event.theme %></h1>
  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <%= link_to event_teams_path(@event), class: "block bg-gray-50 p-8 mb-8 rounded-lg hover:bg-gray-100" do %>
    <h3 class="mt-0">View Teams</h3>
  <% end %>
    
  <%= link_to event_entries_path(@event), class: "block bg-gray-50 p-8 mb-8 rounded-lg hover:bg-gray-100" do %>
    <h3 class="mt-0">View Entries</h3>
  <% end %>
</div>