<div class="mt-8 lg:mt-24">
  <h1 class="text-center">Welcome back! 👋</h1>

  <%= button_to user_github_omniauth_authorize_path(origin: request.path), method: :post, class: "mx-auto flex items-center gap-2 border shadow px-4 py-2 rounded-md", data: {turbo: false} do %>
    <%= image_tag "GitHub-Mark-64px.png", class: "h-6 w-6 m-0" %>
    Login with GitHub
  <% end %>
</div>
