<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>

