<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="flex flex-col h-full">
    <main class="grow">
      <%#= render 'shared/banner' %>
      <%= render 'shared/notices' %>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
